In [380]:
import pandas as pd
import datetime

import progressbar
import time

from elasticsearch import Elasticsearch
from pandas.io.json import json_normalize

def to_date(s):
    dt = datetime.datetime.fromtimestamp(s / 1e3)
    return dt.strftime("%Y-%m-%d")

dsl_id = {
        'query': {'bool': {'must': [
                                    {'terms': {'order_type': ['vip_scan']}},
                                   # {'terms': {'shop_id': ['10069']}},
                                    {'query_string': {'query': 'skutotal_price != 0'}},
                                    {'terms': {'order_status': ['confirmed',
                                                                'done',
                                                                'fulfilled']}},
                                    
                                    ]}},
        "aggs": {
            "my_buckets": {
                "composite": {
                    'size': 9999999,
                    "sources": [
                       # {"日期": {"date_histogram": {"field": "paytime", "interval": "1d"}}},
                       # {"单价": {"terms": {"field": 'skutotal_price'}}},
                        {"门店": {"terms": {"field": 'shop_id'}}}
                        
                        ]
                },
                #'aggregations': {#'平均单价': {'avg': {'field': 'skutotal_price'}},
                                 #'最大金额':{'max':{'field':'skutotal_price'}},
                                # '数据':{'extended_stats':{'field':'skutotal_price'}},
                                 #'订单数':{'cardinality':{'field':'order_id'}},
                                 #'n天订单数': {'sum': {'field': 'skutotal_price'}}   }
             
            }
        }
    }
es_id = Elasticsearch(['http://172.18.198.27:9200/'], timeout=30)
res_id = es_id.search(index='es_order_table', doc_type='order', body=dsl_id,
                _source=False, explain=False, track_scores=False, track_total_hits=False, size=0,
                search_type='query_then_fetch')
df_id = json_normalize(res_id['aggregations']['my_buckets']['buckets'])
df_id.columns = map(lambda x: x.split('key.')[-1] if x.startswith('key.') else x, list(df_id.columns))
df_id.head()  #门店所有id

   doc_count   门店
0         11  358
1       5930  365
2       6004  498
3       3375  501
4          1  504

In [381]:
#df_id.to_csv('门店列表.csv')

In [364]:
order_avg,order_max,order_std,order_yssd=[],[],[],[]
bar = progressbar

for i in bar.progressbar(range(len(df_id))):
    time.sleep(0.1)
   # bar.update(i)
    
    shop_list=[]
    shop_list.append(int(df_id.iloc[i]['门店']))
    dsl_sj = {
        'query': {'bool': {'must': [
                                    {'terms': {'order_type': ['vip_scan']}},
                                    {'terms': {'shop_id': shop_list}},
                                    {'query_string': {'query': 'skutotal_price != 0'}},
                                    {'terms': {'order_status': ['confirmed',
                                                                'done',
                                                                'fulfilled']}},
                                    
                                    ]}},
            "aggs": {
                "my_buckets": {
                    "composite": {
                        'size': 9999999,
                        "sources": [
                           # {"日期": {"date_histogram": {"field": "paytime", "interval": "1d"}}},
                            {"单价": {"terms": {"field": 'skutotal_price'}}},
                            {"订单": {"terms": {"field": 'order_id'}}}
                            ]
                },
                #'aggregations': {#'平均单价': {'avg': {'field': 'skutotal_price'}},
                                 #'最大金额':{'max':{'field':'skutotal_price'}},
                                # '数据':{'extended_stats':{'field':'skutotal_price'}},
                                 #'订单数':{'cardinality':{'field':'order_id'}},
                                 #'n天订单数': {'sum': {'field': 'skutotal_price'}}   }
             
                }
            }
    }
    es_sj = Elasticsearch(['http://172.18.198.27:9200/'], timeout=30)
    res_sj = es_sj.search(index='es_order_table', doc_type='order', body=dsl_sj,
                        _source=False, explain=False, track_scores=False, track_total_hits=False, size=0,
                        search_type='query_then_fetch')
    df_sj = json_normalize(res_sj['aggregations']['my_buckets']['buckets'])
    df_sj.columns = map(lambda x: x.split('key.')[-1] if x.startswith('key.') else x, list(df_sj.columns))
    #list化所有订单
    
    shop_order_1,shop_order_2,shop_order_3 = [],[],[]

    for i in range(len(df_sj)):
        if df_sj.iloc[i]['单价']<1:   #过小订单
            continue
        else:
            shop_order_1.append(df_sj.iloc[i]['单价'])

    #除去异常值后的订单价格列表   shop_order 


    large_number = pd.Series(shop_order_1).quantile(0.9)

    #搞出一个较大值

    for i in range(len(shop_order_1)):
        if shop_order_1[i] > large_number:
            if int(shop_order_1[i])/100 == int(shop_order_1[i]/100):
                shop_order_3.append(shop_order_1[i])
        else:
            shop_order_2.append(shop_order_1[i])
    
    if shop_order_2 == []:
        shop_order_2.append(0)
    if shop_order_3==[]:
        shop_order_3.append(0)
        
    order_avg.append(pd.Series(shop_order_2).mean())
    order_max.append(pd.Series(shop_order_2).max())
    order_std.append(pd.Series(shop_order_2).std())
    order_yssd.append(shop_order_3)

100% (754 of 754) |######################| Elapsed Time: 0:08:49 Time:  0:08:49

754

In [366]:
df_id['平均值'] = order_avg
df_id['最大值'] = order_max
df_id['标准差'] = order_std
df_id['疑似刷单价格'] = order_yssd


#df_id

,doc_count,门店,平均值,最大值,标准差,疑似刷单价格
0,11,358,23.181818,30.000000,8.553574,[0]
1,5897,365,16.925844,50.000000,11.463946,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100..."
2,5984,498,14.964954,44.849998,9.566938,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100..."
3,3358,501,6.609937,16.500000,3.833244,[100.0]
4,1,504,25.900000,25.900000,NaN,[0]
5,17,525,13.113333,30.570000,9.005036,[0]
6,87,546,19.432308,53.009998,12.226111,[0]
7,465,562,6.413046,14.500000,2.897289,[0]
8,2,9997,6.500000,6.500000,NaN,[0]
9,86,10022,0.000000,0.000000,NaN,[0]
10,381,10024,1.142857,2.000000,0.363137,[0]
11,21,10025,117.857143,271.000000,66.741588,[0]
12,4326,10026,15.257260,50.000000,12.328591,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100..."
13,64,10032,18.907407,33.000000,7.387569,[0]
14,11,10033,154.200000,260.000000,82.642201,[0]
15,39,10034,15.833333,32.000000,7.268327,[0]
16,155,10036,18.579137,49.000000,11.118264,[0]
17,82,10037,14.342105,30.000000,6.488046,[0]
18,1,10045,7.500000,7.500000,NaN,[0]
19,329,10046,13.596622,30.000000,6.274766,[0]
20,4,10050,0.000000,0.000000,NaN,[0]
21,253,10053,23.451327,51.000000,9.577280,[0]
22,251,10061,18.596413,38.000000,8.303824,[0]
23,146,10065,21.196190,40.000000,8.271544,[0]
24,1,10066,14.000000,14.000000,NaN,[0]
25,252,10068,20.805430,38.000000,7.871304,[0]
26,159,10069,250.762963,427.000000,86.466904,[5000.0]
27,36,10070,15.888889,30.000000,6.582806,[0]
28,1136,10071,16.843670,38.000000,9.083257,[0]
29,2,10072,20.000000,20.000000,NaN,[0]
...,...,...,...,...,...,...
724,114,11325,10.314286,18.000000,4.256927,[0]
725,5,11326,13.707500,18.799999,3.477100,[0]
726,5,11327,111.000000,162.000000,72.124892,[0]
727,16,11328,22.000000,34.000000,7.977240,[0]
728,19,11330,139.376470,207.000000,56.140310,[0]
729,1,11331,15.000000,15.000000,NaN,[0]
730,70,11336,19.467742,38.000000,7.842126,[0]
731,12,11340,89.500000,126.000000,34.986505,[0]
732,12,11341,224.333333,430.000000,138.652443,[0]
733,46,11342,13.900000,20.000000,3.651996,[0]
734,1,11345,8.000000,8.000000,NaN,[0]
735,197,11346,41.244681,64.000000,14.724701,[0]
736,1,11347,1.000000,1.000000,NaN,[0]
737,8,11348,33.285714,58.000000,20.418246,[0]
738,18,11350,160.769231,386.000000,93.725800,[0]
739,3,11351,10.000000,10.000000,NaN,[0]
740,62,11354,89.454545,154.000000,36.875073,[0]
741,2,11355,23.000000,23.000000,NaN,[0]
742,1,11356,16.000000,16.000000,NaN,[0]
743,7,11360,12.333333,20.000000,6.282250,[0]
744,4,11362,48.666667,115.000000,59.248066,[0]
745,18,11363,20.566667,32.000000,7.862358,[0]
746,27,11365,110.714286,205.000000,49.137707,[0]
747,41,11368,8.000000,15.000000,4.915960,[0]
748,6,11369,11.380000,27.000000,14.213444,[0]
749,3,11370,1.000000,1.000000,0.000000,[0]
750,4,11379,31.000000,90.000000,51.097945,[0]
751,3,11381,20.000000,20.000000,NaN,[0]
752,1,11382,1.000000,1.000000,NaN,[0]
753,14,11392,94.500000,192.000000,52.114385,[0]

In [367]:
df_id.fillna(0)

,doc_count,门店,平均值,最大值,标准差,疑似刷单价格
0,11,358,23.181818,30.000000,8.553574,[0]
1,5897,365,16.925844,50.000000,11.463946,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100..."
2,5984,498,14.964954,44.849998,9.566938,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100..."
3,3358,501,6.609937,16.500000,3.833244,[100.0]
4,1,504,25.900000,25.900000,0.000000,[0]
5,17,525,13.113333,30.570000,9.005036,[0]
6,87,546,19.432308,53.009998,12.226111,[0]
7,465,562,6.413046,14.500000,2.897289,[0]
8,2,9997,6.500000,6.500000,0.000000,[0]
9,86,10022,0.000000,0.000000,0.000000,[0]
10,381,10024,1.142857,2.000000,0.363137,[0]
11,21,10025,117.857143,271.000000,66.741588,[0]
12,4326,10026,15.257260,50.000000,12.328591,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100..."
13,64,10032,18.907407,33.000000,7.387569,[0]
14,11,10033,154.200000,260.000000,82.642201,[0]
15,39,10034,15.833333,32.000000,7.268327,[0]
16,155,10036,18.579137,49.000000,11.118264,[0]
17,82,10037,14.342105,30.000000,6.488046,[0]
18,1,10045,7.500000,7.500000,0.000000,[0]
19,329,10046,13.596622,30.000000,6.274766,[0]
20,4,10050,0.000000,0.000000,0.000000,[0]
21,253,10053,23.451327,51.000000,9.577280,[0]
22,251,10061,18.596413,38.000000,8.303824,[0]
23,146,10065,21.196190,40.000000,8.271544,[0]
24,1,10066,14.000000,14.000000,0.000000,[0]
25,252,10068,20.805430,38.000000,7.871304,[0]
26,159,10069,250.762963,427.000000,86.466904,[5000.0]
27,36,10070,15.888889,30.000000,6.582806,[0]
28,1136,10071,16.843670,38.000000,9.083257,[0]
29,2,10072,20.000000,20.000000,0.000000,[0]
...,...,...,...,...,...,...
724,114,11325,10.314286,18.000000,4.256927,[0]
725,5,11326,13.707500,18.799999,3.477100,[0]
726,5,11327,111.000000,162.000000,72.124892,[0]
727,16,11328,22.000000,34.000000,7.977240,[0]
728,19,11330,139.376470,207.000000,56.140310,[0]
729,1,11331,15.000000,15.000000,0.000000,[0]
730,70,11336,19.467742,38.000000,7.842126,[0]
731,12,11340,89.500000,126.000000,34.986505,[0]
732,12,11341,224.333333,430.000000,138.652443,[0]
733,46,11342,13.900000,20.000000,3.651996,[0]
734,1,11345,8.000000,8.000000,0.000000,[0]
735,197,11346,41.244681,64.000000,14.724701,[0]
736,1,11347,1.000000,1.000000,0.000000,[0]
737,8,11348,33.285714,58.000000,20.418246,[0]
738,18,11350,160.769231,386.000000,93.725800,[0]
739,3,11351,10.000000,10.000000,0.000000,[0]
740,62,11354,89.454545,154.000000,36.875073,[0]
741,2,11355,23.000000,23.000000,0.000000,[0]
742,1,11356,16.000000,16.000000,0.000000,[0]
743,7,11360,12.333333,20.000000,6.282250,[0]
744,4,11362,48.666667,115.000000,59.248066,[0]
745,18,11363,20.566667,32.000000,7.862358,[0]
746,27,11365,110.714286,205.000000,49.137707,[0]
747,41,11368,8.000000,15.000000,4.915960,[0]
748,6,11369,11.380000,27.000000,14.213444,[0]
749,3,11370,1.000000,1.000000,0.000000,[0]
750,4,11379,31.000000,90.000000,51.097945,[0]
751,3,11381,20.000000,20.000000,0.000000,[0]
752,1,11382,1.000000,1.000000,0.000000,[0]
753,14,11392,94.500000,192.000000,52.114385,[0]

In [378]:
df_id.fillna(0).to_csv('商家套现数据_new.csv')

In [373]:
taoxian_shop_list,hao_shop_list=[],[]#有过疑似套现商家列表和好商家列表
    

for i in bar.progressbar(range(len(df_id))):
    time.sleep(0.1)
    

    if df_id.iloc[i]['疑似刷单价格'] != [0]:
        taoxian_shop_list.append(df_id.iloc[i]['门店'])
    else:
        hao_shop_list.append(df_id.iloc[i]['门店'])

100% (754 of 754) |######################| Elapsed Time: 0:01:17 Time:  0:01:17

In [375]:
len(taoxian_shop_list)

127